* {
        margin: 0;
        padding: 0;
    }

.wrap {
        width: 100%;
        height: auto;
        font-family: 'Noto Sans KR', sans-serif;
    }
header {
    width: 100%;
    height: 200px;
    text-align: center;
    display: flex;
    
   
/*    background-color: antiquewhite;*/
    

}
input {
    width: 200px;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    position: absolute;
    left: 78%;
    top: 90px;
    background: rgba(0,0,0,0);
}
.logo {
    margin: 0 auto;
}
.logo img{
    width: 160px;
    height: 130px;  
    line-height: 140px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
/*
    float: left;  
    margin-left: 200px;
*/
    
}
nav {
    width: 100%;
    height: 44px;
    line-height: 44px;
    position: absolute;
    top: 150px;
    display: flex;
    font-weight: 700; 
    
}
.change1 {
    width: 100%;
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 150px;
    display: flex;
    font-weight: 700;    
}

.menu1 {
    list-style: none;
   
    height: 45px;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    
    
}
.menu1 li {
    cursor: pointer;
    margin-right: 50px;
    
}
.menu2 {
    list-style: none;
    height: 45px;
    display: flex;
    margin-left: 46%;  
}
.menu2 li {
    cursor: pointer;
    margin-left: 50px;
    
}
/***********************************************/
.change2 {
    width: 100%;
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 150px;
    display: flex;
    font-weight: 700;
    
}
.chg1 {
    list-style: none;
   
    height: 45px;
    display: flex;
    justify-content: space-around;
    margin-left: 10%; 
}
.chg1 li {
    cursor: pointer;
    margin-right: 80px;
}
.chg2 {
    list-style: none;
    height: 45px;
    display: flex;
    margin-left: 45%;  
}
.chg2 li {
    cursor: pointer;
    margin-left: 50px;
}
/***********************************************/
#sec1 {
    width: 100%;
    height: 700px;
    border-top: 2px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
   
}

#sec1 h1 {
    position: relative;
    top: 100px;
    left: 65px;
    
}
.best {
    margin: 180px 10px 0 10px;
    width: 250px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    
}
.best img {
    width: 250px;
    height: 300px;
    transition: transform 0.3s linear;
    
}
.best img:hover {
    transform: scale(1.05);
}
.bar {
    width: 250px;
    height: 4px;
    background-color: #000;
    margin: 20px 0 20px 10px;
    
}
.wing_bar {
    margin-top: 20px;
    background-color: black;
    margin-left: 17px;
    width: 65px;
    height: 3px;
    margin-bottom: 5px;
}
.wing {
    position: absolute;
    float: right;
    width: 100px;
    height: 180px;
    border: 1px solid #797979;
    background-color: #fff;
    top: 382px;
    left: 1550px;
    text-align: center;
    position: fixed;
}
.wing img {
    width: 65px;
    height: 95px;
    margin-top: 10px;
  
}
.top {
    position: absolute;
    float: right;
    width: 50px;
    height: 50px;
    border: 1px solid #797979;
    background-color: #fff;
    top: 575px;
    left: 1575px;
    text-align: center;
    position: fixed;
    z-index: 99;
    color: black;
    line-height: 45px;
    
}




/***********************************************/

#sec2 {
    width: 100%;
    height: auto;
    border-top: 1px solid #797979;
    text-align: center; 
    margin: 0 auto;
    box-sizing: border-box;
}
.sheet01 {
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0 auto;
    
       
}
.sheet02 {
     width: 100%;
    height: auto;
    position: absolute;
    margin: 0 auto;
  

}
.sheet03 {
     width: 100%;
    height: auto;
    position: absolute;
    margin: 0 auto;
 

}
.two {
    margin: 100px 10px 0 10px;
    width: 250px;
    height: 300px;
    
    overflow: hidden;
    cursor: pointer;
    
}
.two img {
    width: 250px;
    height: 300px;
    transition: transform 0.3s linear;
    
}
.two img:hover {
    transform: scale(1.05);
}

bar {
    width: 250px;
    height: 4px;
    background-color: #000;
    margin: 20px 0 20px 10px;
    
}

.sheet01 img, .sheet02 img, .sheet03 img {
    width: 250px;
    height: 300px;   
}
.label {
    display: flex;
    width: 500px;
    height: 40px;
    line-height:40px;
    justify-content: space-around;
    margin: 0 auto; 
    margin-top: 100px;
    box-sizing: border-box;
    
    
}
.label p {
   width: auto;
    font-size: 1.25rem;
    margin: 25px 40px;
    cursor: pointer;
    
}
.label p:hover {
   width: auto;
   cursor: pointer;
    text-decoration: underline;
}
.lab01 h1:hover {
    border-top: 2px solid black;
}
.lab02 h1:hover {
    border-top: 2px solid black;
}
.lab03 h1:hover {
    border-top: 2px solid black;
}

#chk {
    display: none;
}

#tab01, #tab02, #tab03 {
    display: none;            
        }
#tab01:checked ~ .sheet01  {
    display: block;
}

#tab01 ~ .sheet01  {
    display: none;
}
#tab02 ~ .sheet02  {
    display: none;  
}
#tab02:checked ~ .sheet02  {
    display: block;
}
#tab03 ~ .sheet03  {
    display: none;
}
#tab03:checked ~ .sheet03  {
    display: block;
}


.import {
    display: flex;
    width: 100%;
    height: 47px;
    line-height: 47px;
    border-top: 3px solid black;
    margin-top: 200px;
}
.import h3 {
    margin-left: 360px;
    margin-right: 80px;
}

footer {
    width: 100%;
    height: 250px;
    background-color: #1c1c1c;
    color: #fff;
    display: flex;
    justify-content: center;
    
    text-align: left;
    
}
span:hover {
    text-decoration: underline;
    cursor: pointer;
}
.ft1 ul,.ft2 ul,.ft3 ul,.ft3_3 ul,.ft4 ul{
    list-style: none;
    font-weight: 700;
    margin: 0 80px;
    font-size: 16px;
    margin-top: 50px;
    
}
.ft1 ul li,.ft2 ul li,.ft3 ul li,.ft3_3 ul li {
    font-size: 16px;
    font-weight: 400;
    
}
.ft4 ul li {
    font-size: 1.5rem;
    font-weight: 400;
    
}
.ft4 ul li a {
    margin-right: 10px;
}
.ft4 a:active, .ft4 a:link, .ft4 a:visited {
    color: #e1e1e1;
    text-decoration: none;
}
.address {
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #1c1c1c;
    color: #e1e1e1;
    
    
}
